.first-row,
.second-row,
.third-row,
.forth-row,
.fifth-row{
    display: flex;
    height: 50px;
}

button {
    flex:1;
}

#calculator{
    width:200px;
    margin:auto;
    border: 3px solid #73AD21;
}

.screen-container {
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen{
    border: 2px solid black;
    height: 40px;
    width: 200px;
    text-align: right;
}